.m_container{
    padding: 20px 90px 5px 90px;
    text-align: justify;
    line-height: 1.8;
}
.m_container ul{
    padding-left: 5px;
}
.m_container h3{
    font-size: 20px;
}
.m_container h4{
    font-size: 19px;
}
.m_container p{
    font-size: 17px;
}
.m_container ul>li{
    list-style-type: "-";
    padding-left: 10px;
    font-size: 17px;
}
.m_container .t_size{
    width: 100%;
}
.m_container .t_size img{
    width: 95%;
}
.page-title:hover{
    color: blue;
}